{% extends 'base.html.twig' %}

{% set title = 'article.plural'|trans({count: articles|length}) %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
    <p>{{ 'demo.select'|trans({gender: 'male'}) }}</p>
    {# ce commentaire twig ne sera pas visible dans le source de la page #}
    <ul>
    {% for article in articles %}
    <li class="{{ loop.index is odd ? 'odd' : 'even' }}">
        <a href="{{ path('app_default_show', {id: article.id}) }}">{{ article.title }}</a>
    </li>
    {% else %}
    <li>Pas d'article actuellement</li>
    {% endfor %}
    </ul>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
          color: #222;
        }
    </style>
{% endblock %}
